/*棋盘区域*/
#mainBoard{
    background-color: white;
    position: absolute;
    left: 10%;
    top: 15%;
}
/*棋盘*/
#board{
    box-sizing: border-box;
    background-color: green;
    width: 70%;
    height: 70%;
    min-width: 300px;
    min-height: 300px;
    padding: 0;
    border: 0;
    margin: 0;


    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

/*格子*/
.cell{
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
}
.black{
    background-color: #769656;
}
.white{
    background-color: #eeeed2;
}
.highBlack{
    background-color: #bbcb2b;
}
.highWhite{
    background-color: #f7f72b;
}
.warning{
    background-color: #f53f35;
}
.chosen{
    border: 5px purple solid;
}

#inputBlock{
    background-color: #312e2b;
    color:whitesmoke;
    position: absolute;
    left: 20%;
    top:20%;
    height: 50%;
    width:50%;
}
#chooseBlock{
    background-color: #312e2b;
    color:whitesmoke;
    position: absolute;
    left: 20%;
    top:20%;
    height: 50%;
    width:50%;
}
#timeSettingBlock{
    background-color: #312e2b;
    color:whitesmoke;
    position: absolute;
    left: 20%;
    top:20%;
    height: 50%;
    width:30%;
}

input{
    width: 70%;
    height: 30px;
    color:whitesmoke;
    background-color: #312e2b;
    border-radius: 15px;
    border: dimgray 1px solid;
}

.button{
    margin: auto;
    background-color: black;
    border: dimgray 3px solid;
    width: 20%;
    height: 100%;
    border-radius: 15px;
}

#readyButton{
    margin: 5px;
    color: #f7f72b;
    background-color:dimgray ;
    border-radius: 8px;
    height: 20px;
    width: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#settingButton{
    margin: 5px;
    color: #f7f72b;
    background-color:dimgray ;
    border-radius: 8px;
    height: 20px;
    width: 80px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}