/*棋盘区域*/
#mainBoard{
    background-color: #312e2b;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 70%;
    height: 70%;
    min-width: 300px;
    min-height: 300px;
}
/*棋盘*/
#board{
    position: absolute;
    top:6%;
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    min-width: 300px;
    min-height: 300px;
    padding: 0;
    border: 0;
    margin: 0;


    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

/*格子*/
.cell{
}
.black{
    background-color: #769656;
}
.white{
    background-color: #eeeed2;
}
.highBlack{
    background-color: #bbcb2b;
}
.highWhite{
    background-color: #f7f72b;
}
.warning{
    background-color: #f53f35;
}
.chosen{
    border: 5px purple solid;
}

input{
    width: 70%;
    height: 30px;
    color:whitesmoke;
    background-color: #312e2b;
    border-radius: 15px;
    border: dimgray 1px solid;
}

.button{
    margin: auto;
    background-color: black;
    border: dimgray 3px solid;
    width: 20%;
    height: 100%;
    border-radius: 15px;
}

#enemyPlayer,#selfPlayer{
    position: absolute;
    height:5%;
    border: #45f3ff 0px solid;
    box-sizing: border-box;

    font-size: 150%;
    color: lightgray;
}
#enemyPlayer{
    top: 0;
    left: 30%;
}
#selfPlayer{
    bottom: 0;
    left: 70%;
}


#buttonsList{
    display: flex;
    justify-content: space-around;
    direction: rtl;
    position: absolute;
    top: 85%;
    left: 10%;
}

button{
    color: #8f8f8f;
    background-color: #1c1c1c;
    border: 2px #769656 solid;
    border-radius: 8px;

    width: 100px;
    height: 68px;

    margin-top: 15px;
}

button:hover {
    background-color: #769656;
    color: white;
    transition: 0.3s;
}